{{#each carts as |cart|}}
    {{#recordFilter cart.userId.id  cart.status currentUser.id}}
        Carritos: {{cart.userId.name}} <br>
        Status: {{cart.status}} <br>
        Product: {{#each cart.products as |product|}}
            {{product.productId.title}},
        {{/each}}
    <br>
    {{else}}
    <p>---------</p>

    {{/recordFilter}}
{{/each}}

<br><br><br>


