<footer >
  <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
    <div class="col-12">
      <div class="row row-2">
        <div class="col-sm-3 text-md-center">
          <span>
            <img class="d-inline-block align-top" src="https://i.ibb.co/pW3KXr0/fiverrhack.png" width="200" height="35" alt="logo">
          </span>
        </div>
        <div class="col-sm-3  my-sm-0 mt-4">
          <ul class="list-unstyled">
            <li class="mt-0"><b>Lenguajes</b></li>
            <li><a class="footer-link" target="_blank" href="https://developer.mozilla.org/es/docs/Web/JavaScript">Java Script</a></li>
            <li><a class="footer-link" target="_blank" href="https://developer.mozilla.org/es/docs/Web/CSS">CSS</a></li>
            <li><a class="footer-link" target="_blank" href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics">HTML</a></li>
          </ul>
        </div>
        <div class="col-sm-3  my-sm-0 mt-2">
          <ul class="list-unstyled">
            <li class="mt-0"><b>Librerias</b></li>
            <li><a class="footer-link" target="_blank" href="https://getbootstrap.com/">Boostrap</a></li>
            <li><a class="footer-link" target="_blank" href="https://expressjs.com/es/">Express</a></li>
            <li><a class="footer-link" target="_blank" href="https://handlebarsjs.com/">HBS</a></li>
            <li><a class="footer-link" target="_blank" href="https://es.wikipedia.org/wiki/Anexo:C%C3%B3digos_de_estado_HTTP">http-errors</a></li>
            <li><a class="footer-link" target="_blank" href="https://www.npmjs.com/package/bcryptjs">bcryptjs</a></li>
          </ul>
        </div>
        <div class="col-sm-3  my-sm-0 mt-2">
          <ul class="list-unstyled">
            <li class="mt-0"> <b>Otras herramientas</b></li>
            <li><a class="footer-link" target="_blank" href="https://www.mongodb.com/es">BBDD: MongoDB</a></li>
            <li><a class="footer-link" target="_blank" href="https://code.visualstudio.com/">Editor: Visual Studio Code</a></li>
            <li><a class="footer-link" target="_blank" href="https://www.google.com/intl/es/chrome/?brand=YTUH&gclid=Cj0KCQjw54iXBhCXARIsADWpsG9a2oaVJldv5gZClLgfEzykq3rTf1ApdltYXuIYt4uHnHpgN3kqEFgaAnIeEALw_wcB&gclsrc=aw.ds">Navegador recomendado: Chrome</a></li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center">© Fiverr Ironhack Mallorca-Madrid 2022</div>
                    <div class="col-md-3 col-auto "></div>
                    <div class="col-md-3 col-auto"></div>
                      <div class="col  my-auto text-md-left  text-right "> 
                        <small> mallorcaymadridinironhack@gmail.com
                          <span>
                            <img src="/img/fb.png" class="img-fluid"  width="25">
                          </span> 
                          <span>
                            <img src="/img/SnapChat.png" class="img-fluid "  width="25">
                          </span>
                          <span>
                            <img src="/img/Instagram.png" class="img-fluid "  width="25">
                          </span>
                        </small>  
                      </div> 
                </div>
            </div>
        </div>
  </footer>
