<div class="d-flex align-items-center flex-row">  
  <div class="footer-text">
    <h5>© Fiverr Ironhack Mallorca-Madrid 2022</h5>
  </div>
  <div class="footer-iconos">
    <a href="/">
        <img class="img-footer" src="/img/fb.png" alt="img-facebook">
    </a>
    <a href="/">
        <img class="img-footer" src="/img/Instagram.png" alt="img-facebook">
    </a>
    <a href="/">
        <img class="img-footer" src="/img/SnapChat.png" alt="img-snapchat">
    </a>
    <a href="/">
        <img class="img-footer" src="/img/Twitter.png" alt="img-twiter">
    </a>
    <a href="">
        <img class="img-footer" src="/img/Youtube.png" alt="img-youtube">
    </a>
  </div>
</div>


