<div class="d-flex align-items-center flex-row mb-2">  
  <a href=""> 
    <div class="footer-text">
      <h5>© Fiverr Ironhack Mallorca-Madrid 2022</h5>
    </div>
  </a>
  <a href="">
    <div>
      <img class="img-footer" src="img/fb.png" alt="img-facebook">
    </div>
  </a>
  <a href="">
    <div>
      <img class="img-footer" src="img/Instagram.png" alt="img-facebook">
    </div>
  </a>
  <a href="">
    <div>
      <img class="img-footer" src="img/SnapChat.png" alt="img-snapchat">
    </div>
  </a>
  <a href="">
    <div>
      <img class="img-footer" src="img/Twitter.png" alt="img-twiter">
    </div>
  </a>
  <a href="">
    <div>
      <img class="img-footer" src="img/Youtube.png" alt="img-youtube">
    </div>
  </a>
</div>


