<footer >
  <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
    <div class="col-12">
      <div class="row row-2">
        <div class="col-sm-3 text-md-center">
          <span>
            <img class="d-inline-block align-top" src="https://i.ibb.co/pW3KXr0/fiverrhack.png" width="200" height="35" alt="logo">
          </span>
        </div>
        <div class="col-sm-3  my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Platform</li>
            <li>Help Center</li>
            <li>Security</li>
          </ul>
        </div>
        <div class="col-sm-3  my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Customers</li>
            <li>Use Cases</li>
            <li>Customers Services</li>
          </ul>
        </div>
        <div class="col-sm-3  my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Company</li>
            <li>About</li>
            <li>Careers</li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center">© Fiverr Ironhack Mallorca-Madrid 2022</div>
                    <div class="col-md-3 col-auto "></div>
                    <div class="col-md-3 col-auto"></div>
                      <div class="col  my-auto text-md-left  text-right "> 
                        <small> correoCurso@gmail.com
                          <span>
                            <img src="../img/fb.png" class="img-fluid "  width="25">
                          </span> 
                          <span>
                            <img src="../img/SnapChat.png" class="img-fluid "  width="25">
                          </span>
                          <span>
                            <img src="../img/Instagram.png" class="img-fluid "  width="25">
                          </span>
                          <span>
                            <img src="../img/Twitter.png" class="img-fluid "  width="25">
                          </span>
                          <span>
                            <img src="../img/Youtube.png" class="img-fluid "  width="25">
                          </span>
                        </small>  
                      </div> 
                </div>
            </div>
        </div>
  </footer>
