<nav class="navbar navbar-expand-lg bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Conviértete en vendedor</a>
        </li>
        </li>
      </ul>
      <div class="nab-bar-login">
        <a href="/login" class="btn btn-outline-success">Iniciar sesion</button></a>
      </div>
      <div>
        <a href="/register"><button class="btn btn-outline-success">Unete</button></a>
      </div>
    </div>
  </div>
</nav>

