<nav class="navbar navbar-expand navbar-expand-sm navbar-expand-md navbar-expand-xl bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li>
          <a class="navbar-brand mb-0 h1" href="/"><img class="d-inline-block align-top" src="https://i.ibb.co/pW3KXr0/fiverrhack.png" width="200" height="35" alt="logo"></a>
        </li>
        <li>
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        {{#if currentUser}}

        {{else}}
        <li>
          <a class="nav-link" href="/login">Conviértete en vendedor</a>
        </li>
        {{/if}}
      </ul>
        {{#if currentUser}}
          <div class="nab-bar-login">
            <a class="btn btn-secondary" role="button" href="/logout">Logout</a>
          </div>
          <div class="nab-bar-login">
            <a href="/profile/{{currentUser.id}}"><button class="btn btn-outline-success"><img class="navbar-user-img" src="{{currentUser.img}}" alt="user"></button></a>
          </div>
        {{else}}
          <div class="nab-bar-login">
            <a href="/login"><button class="btn btn-outline-success">Iniciar sesion</button></a>
          </div>
          <div class="nab-bar-login">
            <a href="/register"><button class="btn btn-outline-success">Unete</button></a>
          </div>
        {{/if}}
    </div>
  </div>
</nav>


