@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,700;1,400&display=swap');

/*BODY*/
.container-body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 71vh;
}

/* NAVBAR */
.nab-bar-login {
    margin-right: 10px;
}
.navbar-user-img {
    width: 40px;
    height: auto;
}
.navbar-nav{
    font-weight: bolder;
}
.navbar .nav-link:hover{
    background-color: #198754;
    color: white;
    transition: 0.3s;
}

/* FOOTER */
.img-footer {
    width: 50px;
    height: auto;
    opacity:0.4;
}
.row-1{
    background-color:#d7dadd !important;
}
.row-2{
    background-color:#d7dadd !important;
}
.footer-link {
    text-decoration: none;
    color: black;
}

/*INDEX*/
.search-input {
    width: 300px;
    height: 38px;
}
.container-index {
    font-family: 'Volkhov', serif;
    margin-left: 8%;
    margin-top: 3%;
    margin-right: 8%;
    margin-bottom: 50px;
}
.container-img-product {
    width: auto;
    height: 170px;
}
.container-product-title {
    width: auto;
    height: 70px;
    margin-bottom: 10%;
}
.autor-index{
    font-style: italic;
}
.index-title-second{
    margin-bottom: 2%;
    margin-top: 1%;
}
.index-detail {
    color: blue;
    margin-left: 100px;
    text-decoration: none;
}
.index-btn {
    margin-left: 5px;
}
.index-btn-a {
    text-decoration: none;
    color: grey;
}
.container-top-index-both {
    margin-top: 3%;
    display: flex;
    justify-content:center
}
.container-img-top-index {
    margin-left: 1%;
}
.img-top-index {
    width: 60%;
}

/*Login*/
.img-login {
    width: 80%;
}

/*Errores*/
.container-errores {
    margin-top: 100px;
    margin-left: 100px;
}

/*Product form*/
.container-product-form{
    width: auto;
    font-family: 'Volkhov', serif;
    font-size: 1.3em;
    width: 100%;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-blanco-gris-brillante-lineas-onduladas_1017-25101.jpg?w=2000");
}
.product-form-title {
    padding: 40px;

}
.product-form {
    margin-left: 100px;
    width: 60%;
}
.form-label-hidden {
    display: none;
}
.img-edit{
    width:40px;
    height: auto;
    margin-bottom: 1%;
}

/*Detail*/
.product{
    background-color: rgb(244, 241, 241)
}
.brand{
    font-size: 13px
}
.act-price{
    color:red;font-weight: 700
}
.dis-price{
    text-decoration: line-through
}
.about{
    font-size: 14px
}
.color{
    margin-bottom:10px
}
label.radio{
    cursor: pointer
}
label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}
label.radio span{
    padding: 2px 9px;
    border: 2px solid #ff0000;
    display: inline-block;
    color: #ff0000;
    border-radius: 3px;
    text-transform: uppercase
}
label.radio input:checked+span{
    border-color: #1CC440;
    background-color: #1CC440;
    color: #fff;
}
.btn-danger{
    background-color: #1CC440!important;
    border-color: gray !important;
}
.btn-danger:hover{
    background-color: #0ec90e !important;
    border-color: gray !important;
}
.btn-danger:focus{
    box-shadow: none
}
.cart i{
    margin-right: 10px
}

/*PROFILE*/
.container-profile {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    display: flex;
}
.container-product-profile {
    width: auto;
    height: 80px;
    margin-bottom: 4%;
}
.container-profile-user {
    width: 20%;
}
.container-profile-card {
    margin-left: 5%;
    width: 70%;
}
.container-profile-btn{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
.container-img-profile-product {
    width: auto;
    height: 100px;
}
.container-body-profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Carrito*/
.buy-a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    margin-bottom: 0px
}
.button{
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.button a{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px}
.button:hover{
    opacity: 0.8
}
.cart_section{
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px
}
.cart_title{
    font-size: 30px;
    font-weight: 500
}
.cart_items{
    margin-top: 8px
}
.cart_list{
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    background-color: #fff}
.cart_item{
    width: 100%;padding: 15px;
    padding-right: 46px}
.cart_item_image{
    width: 133px;
    height: 133px;
    float: left
}
.cart_item_image img{
    max-width: 100%
}
.cart_item_info{
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px
}
.cart_item_name{
    margin-left: 7.53%
}
.cart_item_title{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.5)
}
.cart_item_text{
    font-size: 18px;
    margin-top: 35px
}
.cart_item_text span{
    display: inline-block;
    width: 20px;height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
}
.cart_item_price{
    text-align: right
}
.cart_item_total{
    text-align: right
}
.order_total{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff
}
.order_total_title{
    display: inline-block;
    font-size: 14px;color: rgba(0,0,0,0.5);
    line-height: 60px
}
.order_total_amount{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}
.cart_buttons{
    margin-top: 60px;
    text-align: right
}




